# Automatically created by ansible
# using the ansible-bdii-site role

BDII_LOG_FILE={{ BDII_LOG_FILE }}
BDII_PID_FILE={{ BDII_PID_FILE }}
BDII_LOG_LEVEL={{ BDII_LOG_LEVEL }}
BDII_LDIF_DIR={{ BDII_LDIF_DIR }}
BDII_PROVIDER_DIR={{ BDII_PROVIDER_DIR }}
BDII_PLUGIN_DIR={{ BDII_PLUGIN_DIR }}
BDII_PORT={{ BDII_PORT }}
BDII_BREATHE_TIME={{ BDII_BREATHE_TIME }}
BDII_READ_TIMEOUT={{ BDII_READ_TIMEOUT }}
BDII_ARCHIVE_SIZE={{ BDII_ARCHIVE_SIZE }}
BDII_DELETE_DELAY={{ BDII_DELETE_DELAY }}
BDII_USER={{ BDII_USER }}
BDII_VAR_DIR={{ BDII_VAR_DIR }}
